<div id="main-div">

  <div id="url-div">
    <%= form_for :comparison, class: "form" do |f| %>
      <%= f.text_field :url, placeholder: "Please enter a Wikipedia URL", class: "form-control" %>
    <% end %>
  </div>

  <div class="center-block text-center">
    <div class="select-div">
      <span class="fancyArrow"></span>
      <select name="post[category_id]">
        <% @languages.each do |language| %>
          <option value="<%= language %>"><%= language %></option>
        <% end %>
      </select>
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <%= link_to root_path, id: "submit", class: "text-center" do %>
      <span class="glyphicon glyphicon-refresh text-center"></span>
    <% end %>
    &nbsp;
    &nbsp;
    <div class="select-div">
      <span class="fancyArrow"></span>
      <select name="post[category_id]">
        <% @languages.each do |language| %>
          <option value="<%= language %>"><%= language %></option>
        <% end %>
      </select>
    </div>
    <span id="between" data-toggle="tooltip" title="The dropdown on the right dictates the common language of comparison, which by default is the first language chosen." class="glyphicon glyphicon-random"></span>
    <div class="select-div">
      <span class="fancyArrow"></span>
      <select name="post[category_id]">
        <% @languages.each do |language| %>
          <option value="<%= language %>"><%= language %></option>
        <% end %>
      </select>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-center">Johnny Cash</h1>
  <div id="venn1" class="center-block text-center">
  </div>

</div>
<div style="float:left;padding:20px">
  <table>
    <tr>
      <td>|A|</td>
      <td>
        <input class="input-mini venn_area" id="A" type="number" value="16">
      </td>
    </tr>
    <tr>
      <td>|B|</td>
      <td>
        <input class="input-mini venn_area" id="B" type="number" value="16">
      </td>
    </tr>
    <tr>
      <td>|C|</td>
      <td>
        <input class="input-mini venn_area" id="C" type="number" value="12">
      </td>
    </tr>
    <tr>
      <td>|A&#8745B|</td>
      <td>
        <input class="input-mini venn_area" id="A,B" type="number" value="4">
      </td>
    </tr>
    <tr>
      <td>|A&#8745C|</td>
      <td>
        <input class="input-mini venn_area" id="A,C" type="number" value="4">
      </td>
    </tr>
    <tr>
      <td>|B&#8745C|</td>
      <td>
        <input class="input-mini venn_area" id="B,C" type="number" value="3">
      </td>
    </tr>
    <tr>
      <td>|A&#8745B&#8745C|&nbsp</td>
      <td>
        <input class="input-mini venn_area" id="A,B,C" type="number" value="2">
      </td>
    </tr>
  </table>
</div>
<div id="venn"></div>
<div style="clear: both;"></div>

<div id="venn3">

</div>
