<div id="main-div">

  <div id="url-div">
    <%= form_for :comparison, class: "form" do |f| %>
      <%= f.text_field :url, placeholder: "Please enter a Wikipedia URL", class: "form-control center-block" %>
    <% end %>
  </div>

  <div class="center-block text-center">
    <div class="select-div">
      <span class="fancyArrow"></span>
      <select name="post[category_id]">
        <% @languages.each do |language| %>
          <option value="<%= language %>"><%= language %></option>
        <% end %>
      </select>
    </div>

    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

    <%= link_to root_path, id: "submit", class: "text-center" do %>
      <span class="glyphicon glyphicon-refresh text-center"></span>
    <% end %>

    &nbsp;
    &nbsp;
    &nbsp;

    <div class="select-div">
      <span class="fancyArrow"></span>
      <select name="post[category_id]">
        <% @languages.each do |language| %>
          <option value="<%= language %>"><%= language %></option>
        <% end %>
      </select>
    </div>
  </div>

</div>

<%#<%= render "partials/venn" %>
