<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,greek-ext,vietnamese,cyrillic' rel='stylesheet' type='text/css'>
    <title>Diffepedia, the Wikipedia comparator</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" id="nav-title" href="/"><span class="bigger">D</span>IFFEPEDI<span class="bigger">A</span>
            <br><span id="little-title">The Wikipedia Comparator</span></a>
        </div>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li id="cu-div">
                <%= image_tag "Twitter_logo_blue.png", height: "30", id: "twitter-img-name" %>
                <span id="twitter-name">@<%= current_user.name %></span>
              </li>
              <li>
                <a href="#">
                  <i class="glyphicon glyphicon-menu-hamburger"></i>
                </a>
              </li>
            <% else %>
              <li>
                <%= link_to "/auth/twitter", class: "btn btn-lg btn-default btn-home", id: "twitter-login" do %>
                  <%= image_tag "Twitter_logo_blue.png", height: "30", id: "" %>
                <% end %>
              </li>
            <% end %>
          </ul>
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>

  </body>
</html>
